<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Carton More</title>
		<link rel="icon" type="image/png" href="../../image/favicon.png" />
		<link rel="stylesheet" href="styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="button-container">
			<a href="../../layout/research/research.html">
				<div class="button">
					<span>Research</span>
				</div>
			</a>
			<a href="../../layout/program/program.html">
				<div class="button">
					<span>Program</span>
				</div>
			</a>
			<a href="../../assets/CV.pdf">
				<div class="button">
					<span>CV</span>
				</div>
			</a>
			<a href="../../index.html">
				<div class="button">
					<span>🏠Home</span>
				</div>
			</a>
		</div>
		<div class="map">
			<iframe
				src="https://www.google.com/maps/d/embed?mid=1z94DHQP2Rz7oDvNAG6sCJAPSFbXHHw8&ehbc=2E312F"
				width="1100"
				height="800"
				style="position: relative; top: -60px; border: none"
			></iframe>
		</div>
	</body>
</html>
