<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Carton Research Experience</title>
		<link rel="icon" type="image/png" href="../../image/favicon.png" />
		<link rel="stylesheet" href="styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="page">
			<div class="button-container">
				<a href="../../layout/research/research.html">
					<div class="button">
						<span>Research</span>
					</div>
				</a>
				<a href="../../index.html">
					<div class="button">
						<span>🏠Home</span>
					</div>
				</a>
				<a href="../../assets/CV.pdf">
					<div class="button">
						<span>Resume</span>
					</div>
				</a>
				<a href=".">
					<div class="button">
						<span>More</span>
					</div>
				</a>
			</div>
			<table class="content-table">
				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/hx5Bh8uV-8w?si=XxkjWTVc49oY4kiU"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">Transcrisense</div>
						<div class="section-second-title">
							Accessability
						</div>
						<div class="section-details">
							<span class="section-date">2023.05 ~ 2023.07</span>
							<br />
							<a href="https://github.com/Carton22/Transcrisense">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=hx5Bh8uV-8w">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV1Bk4y1n7sd/">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
							<br />
							<br />
							TranscriSense, designed for individuals with hearing impairments. Our(me, <a href="https://hualingz.cn/">Yicheng Cai</a> and lcy) goal was to enhance the Asian Games viewing experience for those with hearing challenges. 
							This multi-model system, which combines visual effect, speech recognition, haptic feedback, and data visualization, can fully bring a more immersive experience for the hearing-impaired people.
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/6vtBpbG2b5U?si=K6WO9VSBvHoh6vnG"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>
					
					<td class="section-content">
						<div class="section-title">Cut Fruits 3D</div>
						<div class="section-second-title">
							Virtual Reality
						</div>
						<div class="section-details">
							<span class="section-date">2023.05 ~ 2023.06</span>
							<br />
							<a href="https://github.com/Carton22/Cut_Fruits_3D">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=6vtBpbG2b5U">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV12L411q7Wv/?vd_source=7ff5f4619b1b3fd1968acaf4df46e2eb">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
							<br />
							<br />
							This 3D rendition of the fruit-cutting game, crafted with Unity3D, represents a collaborative effort between myself, <a href="https://qiruihu.vercel.app/">Qirui Hu</a>, and <a href="https://github.com/FionaEd">Xiuyuan Wang</a>. With a focus on delivering an immersive gaming experience, the project supports controller interaction, haptic feedback, and sound effects, aiming to provide players with a deeply engaging gameplay environment that also contributes positively to their physical and mental well-being.
						</div>
					</td>
				</tr>
				
				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/edQB-zdgtvo?si=foTrr-guh42JEOHO"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">
							Handbot---Apple WWDC 2023 Swift Student Challenge
						</div>
						<div class="section-second-title">Human AI Interaction</div>
						<div class="section-details">
							<span class="section-date">2023.03 ~ 2023.04</span>
							<br />
							<a href="https://github.com/Carton22/Handbot">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=edQB-zdgtvo">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV1oX4y1b7sb/">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
							<br />
							<br />
							This playground is structured into three components: text, image, and video—primary modes of information dissemination in contemporary society. While personally, I don't object to AI-generated content, my central belief is that individuals should maintain their critical thinking and deliberation before deciding to incorporate AIGC into their work. Otherwise, there's a risk of surrendering control to AI, particularly in media contexts.
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/PBfJcf_Kl1w?si=rga5I5neqLTT8ds6"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">
							<a href="../../assets/3BallVis/index.html"
								>Is raining threes worth it?---A data visualization of NBA 3-pointers</a
							>
						</div>
						<div class="section-second-title">Data Visualization</div>
						<div class="section-details">
							<span class="section-date">2022.12 ~ 2022.01</span>
							<br />
							<a href="https://www.carton22.github.io.com/assets/3BallVis">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=PBfJcf_Kl1w">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV1kY411U7dA/?spm_id_from=333.999.0.0">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
							<br />
							<br />
							Three-pointers are a strategic offensive technique in basketball. In the 2014-2015 season, athlete Stephen Curry emerged onto the scene, and the Warriors, under his leadership, experienced a meteoric rise, ushering in a league-wide era of the three-point revolution. Coincidentally, both <a href="https://jike.city/ryaneth">Ryan</a> and @tyf, as well as myself, are avid NBA basketball fans.
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/HxRNAtYLV7Y?si=B2kpN9TyiS5jhqm3"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">Eyecompass</div>
						<div class="section-second-title">
							Wearable Empherical Device
						</div>
						<div class="section-details">
							<span class="section-date">2022.07</span>
							<br />
							<a href="https://github.com/Carton22/Eyecompass">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=HxRNAtYLV7Y">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV1Ua411X73J/">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
							<br />
							<br />
							Eyecompass is a revolutionary smart glasses solution tailor-made for food delivery couriers. Developed by the Group 6 'cancanneed' Team (@zzk, <a href="https://github.com/moonred9">Jiajun Pan</a> and @ly, and myself😊).
							Equipped with advanced features such as navigation assistance, real-time information reminders, and haptic feedback through vibrations, Eyecompass stands out as a game-changer in the delivery industry. The hallmark of this intelligent eyewear lies in its ability to liberate the hands of delivery personnel, offering unparalleled convenience and efficiency.
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
