<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Carton Research Experience</title>
		<link rel="icon" type="image/png" href="../../image/favicon.png" />
		<link rel="stylesheet" href="styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="page">
			<div class="button-container">
				<a href="../../layout/research/research.html">
					<div class="button">
						<span>Research</span>
					</div>
				</a>
				<a href="../../index.html">
					<div class="button">
						<span>🏠Home</span>
					</div>
				</a>
				<a href="../../assets/CV.pdf">
					<div class="button">
						<span>Resume</span>
					</div>
				</a>
				<a href=".">
					<div class="button">
						<span>More</span>
					</div>
				</a>
			</div>
			<table class="content-table">
				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/hx5Bh8uV-8w?si=XxkjWTVc49oY4kiU"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">Transcrisense</div>
						<div class="section-second-title">
							Accessability
						</div>
						<div class="section-details">
							<span class="section-date">2023.05 ~ 2023.07</span>
							<br />
							<a href="https://github.com/Carton22/Transcrisense">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=hx5Bh8uV-8w">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV1Bk4y1n7sd/">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/6vtBpbG2b5U?si=K6WO9VSBvHoh6vnG"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">Cut Fruits 3D</div>
						<div class="section-second-title">
							Virtual Reality
						</div>
						<div class="section-details">
							<span class="section-date">2023.05 ~ 2023.06</span>
							<br />
							<a href="https://github.com/Carton22/Cut_Fruits_3D">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=6vtBpbG2b5U">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV12L411q7Wv/?vd_source=7ff5f4619b1b3fd1968acaf4df46e2eb">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
						</div>
					</td>
				</tr>
				
				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/edQB-zdgtvo?si=foTrr-guh42JEOHO"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">
							Handbot---Apple WWDC 2023 Swift Student Challenge
						</div>
						<div class="section-second-title">Human AI Interaction</div>
						<div class="section-details">
							<span class="section-date">2023.03 ~ 2023.04</span>
							<br />
							<a href="https://github.com/Carton22/Handbot">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=edQB-zdgtvo">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV1oX4y1b7sb/">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/PBfJcf_Kl1w?si=rga5I5neqLTT8ds6"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">
							<a href="../../assets/3BallVis/index.html"
								>Is raining threes worth it?---A data visualization of NBA 3-pointers</a
							>
						</div>
						<div class="section-second-title">Data Visualization</div>
						<div class="section-details">
							<span class="section-date">2022.12 ~ 2022.01</span>
							<br />
							<a href="https://www.carton22.github.io.com/assets/3BallVis">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=PBfJcf_Kl1w">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV1kY411U7dA/?spm_id_from=333.999.0.0">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/HxRNAtYLV7Y?si=B2kpN9TyiS5jhqm3"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">Eyecompass</div>
						<div class="section-second-title">
							Wearable Empherical Device
						</div>
						<div class="section-details">
							<span class="section-date">2022.07</span>
							<br />
							<a href="https://github.com/Carton22/Eyecompass">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=HxRNAtYLV7Y">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://www.bilibili.com/video/BV1Ua411X73J/">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
