<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carton Self Introduction</title>
    <link rel="icon" type="image/png" href="../../image/favicon.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet">
</head>
<body>
    <img src="../../image/selfIntro.jpg" alt="my personal picture" style="margin-left: 40%;margin-top: 5%;">
    <div class="bodyBigtext">Xianhao Liu 刘晛豪</div>
    <div class="bodyMidtext">Carton</div>
    <div class="bodytext">
        I am a seniar year undergraduate student in <a href="https://www.zju.edu.cn/english">Zhejiang University(ZJU)</a>.
        My major is Artificial Intelligence(AI).Honorablly, I am also president of the 15th cohort of <a href="http://www.ccsper.com/">Morningside Culture China Scholars Program</a>.
        My research interest focus on AR/VR/Data Visualization/HCI/HAI/accessability, epescially immersive data visualization/analytics now. 
    </div>
</body>
</html>
