<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Carton Self Introduction</title>
		<link rel="icon" type="image/png" href="../../image/favicon.png" />
		<link rel="stylesheet" href="styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="page">
			<div class="button-container">
				<a href="../../index.html">
					<div class="button">
						<span>🏠Home</span>
					</div>
				</a>
				<a href="../research/research.html">
					<div class="button">
						<span>Research</span>
					</div>
				</a>
				<a href="../program/program.html">
					<div class="button">
						<span>Program</span>
					</div>
				</a>
				<a href="../../assets/Resume.pdf">
					<div class="button">
						<span>Resume</span>
					</div>
				</a>
				<a href="../more/more.html">
					<div class="button">
						<span>More</span>
					</div>
				</a>
			</div>
			<div class="square">
				<img src="../../image/selfIntro.jpg" alt="my personal picture" />
				<div class="bodyBigtext">Xianhao Liu</div>
				<div class="bodyChineseBigtext">刘晛豪</div>
				<div class="bodyMidtext">Carton</div>
				<p class="bodytext">
					Hi! Great to see you here! I am a Computer Science Ph.D. student in
					<strong
						><a href="https://twin-cities.umn.edu/"
							>University of Minnesota, Twin Cities</a
						></strong
					>. I'm advised by
					<strong><a href="https://chenzhutian.org/">Zhutian Chen</a></strong>.
					<br />
					<br />
					My research interest lies in
					<strong
						>AR/VR/HCI</strong
					>.
					<br />
					<br />
					Most honorably, I am President of the 15th cohort of
					<strong
						><a href="http://www.ccsper.com/"
							>Morningside Culture China Scholars Program</a
						></strong
					>.
				</p>
				<p class="selfIntroLinks">
					<a href="mailto:carton22liu@gmail.com">📧 Gmail</a> &nbsp/&nbsp
					<a href="mailto:liu03008@umn.edu">📧 UMN Email</a> &nbsp/&nbsp
					<a href="assets/Resume.pdf">📑 Resume</a> &nbsp/&nbsp
					<a href="https://twitter.com/CartonLiu">🐦 Twitter</a> &nbsp/&nbsp
					<a href="https://github.com/Carton22">🤖 Github</a> &nbsp/&nbsp
					<a href="https://www.youtube.com/channel/UC19Usz4zYCjAWpqe6sZaM3w"
						>📺 Youtube</a
					>
				</p>
			</div>
		</div>
	</body>
</html>
