<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Carton Program</title>
		<link rel="icon" type="image/png" href="../../image/favicon.png" />
		<link rel="stylesheet" href="styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="page">
			<div class="button-container">
				<a href="../../index.html">
					<div class="button">
						<span>🏠Home</span>
					</div>
				</a>
				<a href="../../layout/program/program.html">
					<div class="button">
						<span>Program</span>
					</div>
				</a>
				<a href="../../assets/CV.pdf">
					<div class="button">
						<span>CV</span>
					</div>
				</a>
				<a href="../more/more.html">
					<div class="button">
						<span>More</span>
					</div>
				</a>
			</div>
			<table class="content-table">
				<tr>
					<td class="section-image-large">
						<img
							src="../../image/harvard.png"
							alt="Harvard logo"
							class="section-image-large"
						/>
					</td>

					<td class="section-content">
						<div class="section-title">Harvard University</div>
						<div class="section-second-title">
							<a href="https://vcg.seas.harvard.edu/"
								>SEAS Computing Visual Group(CVG)</a
							>
						</div>
						<div class="section-details">
							<span class="section-date">2023.09 ~ present</span>
							<br />
							Cambridge, MA, USA
							<br />
							Visiting Undergraduate Student Intern
							<br />
							Supervisor:
							<strong
								><a href="https://chenzhutian.org/"
									>Zhutian Chen</a
								></strong
							>
							and
							<strong
								><a href="https://faculty.ucmerced.edu/mhyang/"
									>Hanspeter Pfister</a
								></strong
							>
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<img
							src="../../image/Stanford.png"
							alt="Stanford logo"
							class="section-image-large"
						/>
					</td>

					<td class="section-content">
						<div class="section-title">Stanford University</div>
						<div class="section-second-title">
							<a href="https://hci.stanford.edu/"> Stanford HCI Group </a>
						</div>
						<div class="section-details">
							<span class="section-date">2023.07 ~ 2023.09</span>
							<br />
							California, USA
							<br />
							Undergraduate Summer Intern
							<br />
							Supervisor:
							<strong
								><a href="https://jackieyang.me/">Junrui(Jackie) Yang</a></strong
							>
							and
							<strong
								><a href="https://www.landay.org/"
									>James Landay</a
								></strong
							>
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<img
							src="../../image/IDI.png"
							alt="IDI logo"
							class="section-image-large"
						/>
					</td>

					<td class="section-content">
						<div class="section-title">Zhejiang University</div>
						<div class="section-second-title">
							<a href="https://www.idi.zju.edu.cn/en/home">
								International Design Institute(IDI) of Zhejiang University
							</a>
						</div>
						<div class="section-details">
							<span class="section-date">2021.10 ~ 2023.05</span>
							<br />
							Hangzhou, China
							<br />
							Undergraduate Research Student
							<br />
							Supervisor:
							<strong
								><a href="http://www.idi.zju.edu.cn/member/140.html"
									>Lingyun Sun</a
								></strong
							>
							and
							<strong
								><a href="http://www.idi.zju.edu.cn/member/2654.html"
									>Zejian Li</a
								></strong
							>
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<img
							src="../../image/zju.png"
							alt="ZJU logo"
							class="section-image-large"
						/>
					</td>

					<td class="section-content">
						<div class="section-title">Zhejiang University</div>
						<div class="section-second-title">
							B.Eng. in
							<strong
								><a href="http://www.cs.zju.edu.cn/turingclass_en/"
									>Turing Class</a
								></strong
							>
							(Honor)
						</div>
						<div class="section-details">
							<span class="section-date">2020.09 ~ present</span>
							<br />
							Hangzhou, China
							<br />
							Undergraduate Student
							<br />
							<strong
								><a href="http://ckc.zju.edu.cn/ckcen/"
									>Chu Kochen Honors College</a
								></strong
							>
							<br />
							<strong
								><a href="http://www.ccsper.com/"
									>Morningside Culture China Scholars Program</a
								></strong
							>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
